<form>
  <div class="form-group">
    <%= simple_form_for [@cocktail] do |f| %>
      <%= f.input :name %>
      <%= f.submit "Create cocktail", class: "btn btn-flat" %>
    <% end %>
 </div>
</form>

<%= link_to 'Back',  cocktails_path, class: "btn btn-flat" %>
